body {
    text-align: center;
    font-family: arial;
}

.window {
    display: inline-block;
    text-align: left;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
}

.window .titleBar {
    padding: 5px;
    height: 15px;
    line-height: 15px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    border: 1px solid black;
    border-bottom-width: 0;
    background: #0054e3; /* Old browsers */
    background: -moz-linear-gradient(left,  #0054e3 0%, #5ca3ea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0054e3), color-stop(100%,#5ca3ea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #0054e3 0%,#5ca3ea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #0054e3 0%,#5ca3ea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #0054e3 0%,#5ca3ea 100%); /* IE10+ */
    background: linear-gradient(to right,  #0054e3 0%,#5ca3ea 100%); /* W3C */
}

.window.inactive .titleBar {
    background: #7a96df; /* Old browsers */
    background: -moz-linear-gradient(left,  #7a96df 0%, #9db9eb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#7a96df), color-stop(100%,#9db9eb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #7a96df 0%,#9db9eb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #7a96df 0%,#9db9eb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #7a96df 0%,#9db9eb 100%); /* IE10+ */
    background: linear-gradient(to right,  #7a96df 0%,#9db9eb 100%); /* W3C */
}

.window .titleBar div {
    display: inline-block;
    vertical-align: top;
}

.window .titleBar div.text {
    margin-left: 5px;
}

.window .menuBar {
    height: 19px;
    line-height: 19px;
    border: 1px solid black;
    border-top-width: 0;
    border-bottom-width: 0;
    font-size: 11px;
    color: #000;
    background-color: #ECE9D8;
}

.window ul {
    margin: 0;
    padding: 0;
}

.window li {
    position: relative;
    display: inline-block;
    padding: 0 5px;
}

.window li:focus {
    background-color: #316AC5;
    color: #FFF;
    outline: none;
}

.menu {
    position: absolute;
    display: none;
    top: 19px;
    left: 0;
    width: 90px;
    border: 1px solid #ACA899;
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 3px;
}

.menu li {
    box-sizing: border-box;
    width: 100%;
    padding-left: 16px;
    border: 1px solid #FFF;
}
.menu li:hover {
    background-color: #316AC5;
    color: #FFF;
}

.menu li.checked {
    background-image: url('../images/src/checkmark.png');
    background-repeat: no-repeat;
    background-position: left 4px center;
}
.menu li:hover.checked {
    background-image: url('../images/src/checkmark_hover.png');
}

.window li:focus .menu {
    display: inline-block;
}

.window.inactive .menuBar {
    color: #ACA899;
}

.gameContainer {
    display: inline-block;
    background-color: #fff;
    border: 1px solid black;
}

.game {
    display: block;
    width: 640px;
    height: 384px;
    margin: 0 auto;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.stats {
    text-align: left;
}

.progressBar {
    display: inline-block;
    vertical-align: middle;
    width: 315px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 5px;
    background-color: #808080;   
}

.progressBar .fill {
    width: 100%;
    height: 100%;
}
.progressBar .fill.high {
    background-color: #0F0;
}
.progressBar .fill.medium {
    background-color: #FF0;
}
.progressBar .fill.low {
    background-color: #F00;
}

.extraLives {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    width: 70px;
    height: 18px;
}

.extraLives .life {
    display: inline-block;
    margin: 0 2px;
    width: 10px;
    height: 18px;
    background-image: url('../images/src/extra_life_yellow.png');
}

.telepods {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    width: 80px
}

.telepods .telepod {
    display: inline-block;
    margin: 0 2px;
    width: 11px;
    height: 11px;
    background-image: url('../images/src/telepod.png');
}

.logo {
    display: inline-block;
    float: right;
    vertical-align: middle;
    width: 80px;
    height: 30px;
    background-image: url('../images/src/runner_logo.png');
}
